pandas==2.2.3
numpy==2.1.3
python-binance==1.0.19
matplotlib==3.9.2
plotly==5.24.1
optuna==4.0.0
optuna-dashboard==0.20.0
scikit-learn==1.5.2
xgboost==2.1.2
streamlit==1.40.1
ta==0.11.0
reportlab==4.2.5
python-dotenv==1.0.1
pydantic==2.10.1
tqdm==4.67.0
httpx==0.28.0
websocket-client==1.8.0
sqlalchemy==2.0.36
fpdf2==2.7.9